[Unit]
Description=wait for motion
After=network.target

[Service]
EnvironmentFile={{ security_camera_home }}/.env
ExecStart=package/service.sh
WorkingDirectory={{ security_camera_home }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
