[Unit]
Description=detect motion
After=network.target

[Service]
ExecStart={{ security_camera_home }}/venv/bin/python package/sensor.py
WorkingDirectory={{ security_camera_home }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
